<app-navbar></app-navbar>

<div class="container">
  <form #signInForm="ngForm" class="form" (ngSubmit)="signIn()">
    <img class="logo" src="/assets/images/logo.png" alt="Logo" />
    <div class="sign-in" i18n="@@signInTitle">Sign In</div>
    <div class="sub-text" i18n="@@signInSubtitle">to discover more...</div>

    <input
      name="email"
      required
      email
      #email="ngModel"
      [(ngModel)]="credentials.email"
      placeholder="Email Address"
      type="text"
      autocomplete="email"
      i18n-placeholder="@@emailPlaceholder"
    />
    <em class="error" *ngIf="email.errors?.['required'] && email.touched" i18n="@@emailRequiredError">Email is required</em>
    <em class="error" *ngIf="email.errors?.['email'] && email.touched" i18n="@@emailFormatError">Must be a valid email format</em>

    <div></div>

    <input
      name="password"
      required
      #password="ngModel"
      [(ngModel)]="credentials.password"
      placeholder="Password"
      type="password"
      autocomplete="current-password"
      i18n-placeholder="@@passwordPlaceholder"
    />
    <em class="error" *ngIf="password.invalid && password.touched" i18n="@@passwordRequiredError">Password is required</em>

    <div class="buttons">
      <button
        type="submit"
        [disabled]="signInForm.form.invalid"
        class="button cta"
        i18n="@@signInButton"
      >
        Sign In
      </button>
    </div>

    <div class="login-link" i18n="@@noAccountText">
      Don’t have an account yet?
      <a routerLink="/signup" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"> Sign up to get started!</a>
    </div>

    <div *ngIf="signInError" class="signInError" aria-live="polite">{{ signInError }}</div>
  </form>
</div>
