<h2>Mon Panier</h2>

<div class="cart-content">
  <div *ngIf="cart.itemsProduct.length > 0; else emptyCart">
    <table>
      <thead>
        <tr>
          <th>Produit</th>
          <th>Quantité</th>
          <th>Prix</th>
          <th>Total</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cart.itemsProduct">
          <td>{{ item.itemProduct.getProductTitle() }}</td>
          <td>
            <button (click)="decreaseQuantity(item.itemProduct.getProductId())">-</button>
            {{ item.quantity }}
            <button (click)="increaseQuantity(item.itemProduct.getProductId())"
              [disabled]="item.quantity >= item.itemProduct.getProductQuantity()" [ngStyle]="{
    backgroundColor: item.quantity >= item.itemProduct.getProductQuantity() ? '#ccc' : '#1976d2',
    color: item.quantity >= item.itemProduct.getProductQuantity() ? '#666' : 'white',
    cursor: item.quantity >= item.itemProduct.getProductQuantity() ? 'not-allowed' : 'pointer'
  }">+</button>
            <!-- Message de stock -->
            <p *ngIf="stockService.getStockMessage(item.itemProduct)" [ngClass]="{
                  'low-stock-message': stockService.isLowStock(item.itemProduct),
                  'restock-badge': !stockService.isLowStock(item.itemProduct) && stockService.isRecentlyRestocked(item.itemProduct)
                }">
              {{ stockService.getStockMessage(item.itemProduct) }}
            </p>
          </td>
          <td>

            <!-- Prix avec remise -->
            <p *ngIf="hasDiscount(item.itemProduct); else normalPrice">
              <del>{{ item.itemProduct.getProductPrice() }} MAD</del>
              <span style="color: #28a745; font-weight: bold; display: flex; flex-direction: column;">
                {{ getDiscountedPrice(item.itemProduct) | number:'1.2-2' }} MAD
              </span>
            </p>
            <ng-template #normalPrice>
              <p>{{ item.itemProduct.getProductPrice() }} MAD</p>
            </ng-template>

          <td>{{ (item.quantity * item.price) | number:'1.2-2' }} MAD</td>

          <td>
            <button class="remove-btn" (click)="remove(item.itemProduct.getProductId())">❌</button>
          </td>
        </tr>
      </tbody>
    </table>

    <hr />
    <p><strong>Total Produits :</strong> {{ cart.totalItems }}</p>
    <p><strong>Total à Payer :</strong> {{ cart.totalPrice }} MAD</p>

    <div class="cart-actions">
      <button (click)="clearCart()">Vider le Panier</button>
      <button (click)="checkout()">Passer la commande</button>
    </div>
  </div>

  <ng-template #emptyCart>
    <p>Votre panier est vide.</p>
  </ng-template>
</div>