<div *ngIf="product" class="modal-content">
  <h3 i18n>Détails du produit</h3>
  <img [src]="product.getProductImage()" alt="{{ product.getProductTitle() }}" width="150" height="150">
  <p><strong>ID:</strong> {{ product.getProductId() }}</p>
  <p i18n><strong>Titre:</strong> {{ product.getProductTitle() }}</p>
  <p i18n><strong>Prix:</strong> {{ product.getProductPrice() }} DH</p>
  <p i18n *ngIf="product.getProductQuantity() > 0"
      [ngStyle]="{ 'color': product.getProductQuantity() < 10 ? 'red' : 'black' }">
      <strong>Quantité:</strong> {{ product.getProductQuantity() }}</p>
  <p i18n><strong>Catégorie:</strong> {{ product.getProductCategory() }}</p>
</div>