<div *ngIf="product" class="modal-overlay" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <button class="close-button" (click)="closeModal()">&times;</button>
    <h3>Détails du produit</h3>
    <img [src]="product.getProductImage()" alt="{{ product.getProductTitle() }}" width="150" height="150">
    <p><strong>ID:</strong> {{ product.getProductId() }}</p>
    <p><strong>Titre:</strong> {{ product.getProductTitle() }}</p>
    <p><strong>Prix:</strong> {{ product.getProductPrice() }} DH</p>
    <p><strong>Quantité:</strong> {{ product.getProductQuantity() }}</p>
  </div>
</div>