<app-navbar></app-navbar>

<div *ngIf="product" class="product-details">
  <img [src]="product.getProductImage()" alt="{{ product.getProductTitle() }}">

  <div class="product-info">
    <h3>{{ product.getProductTitle() }}</h3>
    <p><strong>ID:</strong> {{ product.getProductId() }}</p>
    <!-- Prix avec remise -->
    <p *ngIf="hasDiscount(product); else normalPrice">
      <del>{{ product.getProductPrice() }} MAD</del>
      <span style="color: #28a745; font-weight: bold;">
        {{ getDiscountedPrice(product) | number:'1.2-2' }} MAD
      </span>
    </p>
    <ng-template #normalPrice>
      <p>{{ product.getProductPrice() }} MAD</p>
    </ng-template>
    <p *ngIf="product.getProductQuantity() > 0" [ngClass]="{'stock': true, 'low': product.getProductQuantity() < 10}">
      <strong>Quantité en stock:</strong> {{ product.getProductQuantity() }}
    </p>
    <p><strong>Catégorie:</strong> {{ product.getProductCategory() }}</p>

    <p>
      <span *ngIf="stockService.getStockMessage(product)" [ngClass]="{
        'low-stock-message': stockService.isLowStock(product),
        'restock-badge': !stockService.isLowStock(product) && stockService.isRecentlyRestocked(product)}">
        {{ stockService.getStockMessage(product) }}
      </span>

    </p>

    <button class="add-cart" (click)="addToCart()" [disabled]="product.getProductQuantity() === 0">
      Ajouter au panier
    </button>
  </div>
</div>